$body-font: "Lato", sans-serif;
$heading-font: "Arvo", serif;
$blue-black: rgba(36, 37, 38, 1);
$overlay: rgba(36, 37, 38, 0.5);
$accent-color: #ff5f1f;

$bg-color: $blue-black;
$heading-color: $accent-color;
