#title {
  display: flex;
  justify-content: center;
  background: $bg-color;
  .bg {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("_img/road.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    transform: scale3d(1.5, 1.5, 1.5) translate3d(0, -120px, 0px);
    animation: pan-zoom 20s 1;
    perspective: 100%;
    .wrapper {
      .title-text {
        margin-top: 30vh;
        hgroup {
          background: $overlay;
          padding: 1rem;
          font-size: 2rem;
          h1 {
            font-size: 2rem;
          }
          h2 {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}
