/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  overflow-x: hidden;
  background: $bg-color;
  color: #fff;
  font-size: 1.5rem; //increase root size
  @include screen-sm {
    font-size: 0.75rem;
  }
}

// For debugging parallax effect
.pushin-debug {
  color: #000;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: red;
  text-decoration: none;

  @include on-event {
    color: red;
    text-decoration: underline;
  }
}

article {
  padding: 5rem;
  .wrapper {
    @include screen-md {
      padding: 3rem;
    }
    @include screen-lg {
      max-width: 75%;
      padding: 5rem;
    }
  }
}
