/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  overflow-x: hidden;
  background: $bg-color;
  color: #fff;
  font-size: 1.5rem; //increase root size
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: red;
  text-decoration: none;

  @include on-event {
    color: red;
    text-decoration: underline;
  }
}

article {
  height: 100vh;
  width: 100vw;
  margin: 10rem 0;
  padding: 5rem;
  @include screen-sm {
    margin: 2rem 0;
  }
}
